{{define "content"}}
<div class="container">
  <h5>please copy this code,switch to your application and paste it there:</h5>
  <div style="display: flex;align-items:center"><input id="code" style="margin: 0 10px 0 0;border:0;width:850px;" readonly value="{{.}}"></input ><button onclick="copyCode()" class="btn btn-success">copy</button></div>
  
</div>
{{end}}
{{define "scripts"}}
<script>
function copyCode() {
  /* Get the text field */
  var copyText = document.getElementById("code");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the code: " + copyText.value);
}
</script>
{{end}}