{{define "content"}}
    <style>
        form {
            margin: 0 auto
        }
    </style>
    <div class="container">
        <div class="d-none d-sm-none d-md-none d-lg-block" style="height:100px;"></div>
        <form method="post" class="col-lg-4">
            <div id="error">
            </div>
            <div class="form-group">
                <label for="password">new password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="new password" required
                       autocomplete="">
            </div>
            <div class="form-group">
                <label for="confirm_password">confirm password</label>
                <input type="password" class="form-control" id="confirm_password" name="password" placeholder="confirm password" required
                       autocomplete="">
            </div>
            <button type="submit" class="btn btn-primary">commit</button>
        </form>
    </div>
{{end}}

{{define "scripts"}}
    <script>
        app.ajaxSubmit($("form:last"), {
            before: function () {
                app.closeError($('#error'))
            },
            success: function (res) {
                if (res.error) {
                    if (res.error == "注册邮箱未激活") {
                        window.location.href = "emailValidateSend?email=" + $("#email").val()
                    } else {
                        app.showError($('#error'), res.error)
                    }
                } else {
                    let redirectUri = res.data
                    window.location.href = redirectUri
                }
            }
        })
    </script>
{{end}}