{{define "content"}}
<style>
    #loginForm {
        margin: 0 auto
    }
</style>
<div class="container">
    <div class="d-none d-sm-none d-md-none d-lg-block" style="height:100px;"></div>
    <form method="post" class="col-lg-4" id="loginForm">
        <div id="error">
        </div>
        <div id="divScanLogin" class="d-md-none">
            <div class="form-group">
                <label for="account">账号</label>
                <input type="text" class="form-control" id="account" name="account" placeholder="用户名/邮箱" required>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="密码" required
                    autocomplete="">
            </div>
            <button id="login" type="submit" class="btn btn-primary">登录</button>
        </div>
        <div id="divPwdLogin" class="d-none d-md-block">
            <h4>扫码登录</h4>
            <img id="QRCODE" style="width: 200px;height:200px;" />
        </div>
        <div class="mt-2">
            <a id="switchLoginMethod" class="btn-link mr-2" href="#">密码登录</a>
            <a class="btn-link" href="/password_reset">忘记密码</a>
        </div>
        <div class="mt-2">没有账号?
            <a class="btn-link" href="/register">马上注册</a>
        </div>
    </form>
</div>
{{end}}

{{define "scripts"}}
<script>
    loginMethod = 1
    app.ajaxSubmit($("form:last"), {
        before: function () {
            app.closeError($('#error'))
        },
        success: function (res) {
            if (res.error) {
                app.showError($('#error'), res.error)
            } else {
                let redirectUri = res.data
                if (redirectUri == "")
                    window.location.href = "/"
                else
                    window.location.href = res.data
            }
        }
    })

    $("#switchLoginMethod").on("click", function () {
        if (loginMethod == 1) {
            loginMethod = 2
            $("#divPwdLogin").removeClass("d-md-block")
            $("#divScanLogin").removeClass("d-md-none")
            $(this).text("扫码登录")
        } else {
            loginMethod = 1
            $("#divPwdLogin").addClass("d-md-block")
            $("#divScanLogin").addClass("d-md-none")
            $(this).text("密码登录")
        }
    })

    // Create WebSocket connection.
    const socket = new WebSocket('wss://' + location.host + '/ws');

    // Connection opened
    socket.addEventListener('open', function (event) {
        socket.send('login_challenge:{{.Login_challenge}}');
        console.log('Connection opened')
    });
    challenge = "{{.Login_challenge}}"
    qrcode = "{{.Qrcode}}"
    $("#QRCODE").attr("src", "/qr_code?str=" + btoa(challenge + qrcode))
    // Listen for messages
    socket.addEventListener('message', function (event) {
        app.closeError($('#error'))
        let msg = String(event.data)
        if (msg.startsWith("QR:")) {
            qrcode = msg.substring(3)
            $("#QRCODE").attr("src", "/qr_code?str=" + btoa(challenge + qrcode))
        } else if (msg == "1") {
            app.showError($('#error'), "QRCODE has been scanned")
        } else if (msg.startsWith("2")) {
            app.showError($('#error'), "LOGIN accepted")
            key = msg.substring(1)
            $.post("/login", { login_challenge: "{{.Login_challenge}}", key: key }, function (res) {
                window.location.href = res.data
            });
        } else if (msg == "3") {
            location.href = location.pathname
        } else {
            console.log("error:" + msg)
        }
    });
    socket.addEventListener('close', function (event) {
        console.log('a websocket is closed')
    });
    socket.addEventListener('error', function (event) {
        console.log('a websocket has been closed because of an error')
    });
</script>
{{end}}