{{ define "content"}}
<style>
    #form {
        margin: 0 auto;
    }
</style>
<div class="container">
    <div class="d-none d-sm-none d-md-none d-lg-block" style="height:100px;"></div>
    <form action="/password_reset" method="post" class="col-lg-4" id="form">
        <div id="error">
        </div>
        <div id="reset-form">
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="邮箱" required>
            </div>
            <button id="login" type="submit" class="btn btn-primary">Next</button>
        </div>
        <div id="result" class="d-none text-center">
            Check your email inbox. You will receive a email with password reset url link.
        </div>
    </form>
</div>
{{end}}
{{define "scripts"}}
<script>
    app.ajaxSubmit($("form:last"), {
        before: function () {
            app.closeError($('#error'))
        },
        success: function (res) {
            if (res.error) {
                app.showError($('#error'), res.error)
            } else {
                $("#reset-form").addClass("d-none")
                $("#result").removeClass("d-none")
            }
        }
    }, {
        password: "required",
        confirmPassword: {
            equalTo: "#password"
        }
    })
</script>
{{end}}